DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

DATABASE_URL="postgres://postgres:password@localhost:5432/app"

FRONTEND_URL="http://127.0.0.1:3000"
BACKEND_URL="http://127.0.0.1:8080"

JWT_SECRET="verysecret"
